.my-footer {
    height: 5em;
    background-color: var(--bs-dark);
    color: var(--bs-light);
    font-size: 0.8em;
    margin-top: 1.5em;
    padding: 0.4em;
}

.room-image {
    max-width: 50%;
}

.notie-container {
    margin-top: 2em;
}

.datepicker {
    z-index: 10000;
}
